    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <h3><p>Kristina Vilyams is an multidisciplinary UI/UX and Product Designer with over 5 years of experience in the industry. Her passion lies in creating innovative digital experiences at the intersection of design, fashion, art, and performance.<br/>

With skills in graphic design, augmented reality, 3D modeling, motion graphics, and marketing, she have been involved in exciting projects, including creating try-on augmented reality filters for renowned fashion brands such as Susan Alexandra, Dollchunk, ThugPop, Gustaf Westman Objects, Ouhlala Le Shop, and Zona Johna.
</p></h3>
                <br/>
                <br/>
                <br/>
                <br/>
              </div>
        </div>
    </section>
