<!-- Footer -->
<footer>
    <div class="container" style="margin-bottom: 43px;">
        <div class="row">
             {{ site.copyright }}
        </div>
    </div>
    
    <div class="container" style="margin-bottom: 43px;">
        <div class="row">
            <ul class="social-icons">
                {% for social in site.social %}
                <li>
                    <a href="{{ social.url }}" target="_blank">
                    <img src="img/services/{{ social.img }}" alt="{{ social.title }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
             <ul class="list-inline">
                <li>
                    <a class="page-scroll" href="#home">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Collaborations</a>
                </li>
                <li>
                    <a class="page-scroll" href="#press">Press</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>